* {
  letter-spacing: normal;
}
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-typography {
  line-height: normal;
  font-size: 16px;
}
.ng2-pdf-viewer-container::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
.mat-typography p {
  margin: 0;
}

.mat-mdc-checkbox label {
  font-size: 16px;
}

.example-full-width .mat-mdc-form-field-bottom-align {
  display: none;
}

button {
  cursor: pointer;
}
.mdc-button {
  font-size: 16px;
  font-weight: 400;

  .mdc-button__label {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
  }
}

.mat-mdc-fab .mdc-button__label {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}
//$color: black;

.docx{
  padding: 0!important;
  width: 100%!important;
}

