* {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
.view-file {
  width: 650px;
  height: 850px;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  border-radius: 5px;

  .render {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
}

.model-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-model {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.pfd-container {
  width: 100%;
  height: 100%;
}

pdf-viewer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}


