<div class="container">
  <div class="content">
    <button mat-raised-button color="warn" matTooltip="Закрыть" class="content__button-close"
            (click)="btnCloseModal()"><img src="../../../../../../assets/img/close.png" alt=""></button>
    <div class="content__item" [formGroup]="addingNewItem">
      <mat-form-field class="example-full-width">
        <mat-label>Наименование</mat-label>
        <input type="text" formControlName="name" matInput placeholder="Введите наименование">
      </mat-form-field>
      <mat-form-field class="example-full-width mt15px">
        <mat-label>Производитель</mat-label>
        <input type="text" formControlName="manufacturer" matInput placeholder="Введите производителя">
      </mat-form-field>
      <mat-form-field class="example-full-width mt15px">
        <mat-label>Артикул</mat-label>
        <input type="text" formControlName="article" matInput placeholder="Введите артикул">
      </mat-form-field>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Группа</mat-label>
          <input type="text" required matInput [formControl]="myControl" placeholder="Введите группу" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.group}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>


      <p>
        <mat-checkbox [formControl]="disableSelect">Единица измерения</mat-checkbox>
      </p>
      <mat-form-field>
        <mat-label>Единица измерения</mat-label>
        <mat-select [disabled]="disableSelect.value == false" formControlName="type_measure_units_id">
          <mat-option value="Вес">Вес</mat-option>
          <mat-option value="Объём">Объём</mat-option>
          <mat-option value="Длина">Длина</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button [disabled]="addingNewItem.invalid" (click)="saveNewItem()" mat-raised-button color="accent" class="content__button">Добавить на склад</button>
  </div>
</div>


