<div class="background">
</div>
<div class="container">
  <div class="content">
    <button class="content__button-close" (click)="btnCloseModal()"><img class="content__img-close" src="../../../../../../assets/img/close.png" alt=""></button>
    <div class="content__name" [formGroup]="addingNewLocation">
      <p>Название </p>
      <input formControlName="name_location" class="content__input" type="text" placeholder="Введите название">
    </div>
    <button (click)="saveNewLocation()" class="content__button">Сохранить</button>
  </div>
</div>

