<div class="item">
  <button mat-raised-button color="accent" class="menu" matTooltip="Опции" [matMenuTriggerFor]="menu"><mat-icon class="icon-size">list</mat-icon></button>
  <mat-menu class="column" #menu="matMenu">
    <button mat-raised-button color="warn" (click)="btnDelete(position.id)" class="setting">Удалить</button>
  </mat-menu>
  <div class="image-model-equipment">
    <img [src]="position.image" alt="" *ngIf="pdfStrModel != true">
    <div class="container" *ngIf="pdfStrModel">
      <pdf-viewer [src]="position.image"
                  [original-size]="false"
      ></pdf-viewer>
    </div>
  </div>
  <div matTooltip="Наименование модели" class="name-model-equipment">
    <span>{{position.equipment_name}}</span>
  </div>
  <div matTooltip="Позиция" class="name-model-equipment mt5px">
    <span>{{position.position}}</span>
  </div>
</div>

