* {
  margin: 0;
  padding: 0;
}

.background {
  background-color: black;
  opacity:0.5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.container {
  top: 160px;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .item-list {
      display: flex;
      flex-direction: column;
      align-items: center;

      .item-list__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        width: 380px;
        background-color: #D9D9D9;
        border-radius: 5px;
        height: 30px;
      }
    }
  }
}
.content__button-close {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #A49343;
  background-color: #E3B800;
}

.content__img-close {
  width: 25px;
  height: 25px;
}

