<div class="background">
</div>
<div class="container">
  <div class="content">
    <button class="content__button-close" (click)="btnCloseModal()"><img class="content__img-close" src="../../../../../../assets/img/close.png" alt=""></button>
    <div class="item-list">
      <div class="item-list__item">Позиция test</div>
      <div class="item-list__item">Позиция test</div>
      <div class="item-list__item">Позиция test</div>
      <div class="item-list__item">Позиция test</div>
      <div class="item-list__item">Позиция test</div>
      <div class="item-list__item">Позиция test</div>
      <div class="item-list__item">Позиция test</div>
    </div>
  </div>
</div>

