<div>
  <div class="wrapper">
    <div class="head">
      <button class="btn-back">Назад <img class="img-back" src="../../../../../../../assets/img/back.png"></button>
      <div class="header">
        <span>Наименование комплектующей</span>
      </div>
    </div>
    <div class="container">
      <div class="list">
        <div class="list__item">
          <div class="item__header">Список необходимых запчастей</div>
          <div class="border"></div>
          asdsad
        </div>
        <div class="list__item">
          <div class="item__header">Список необходимых инструментов</div>

        </div>
      </div>
    </div>
    <div class="save">
      <button class="save__btn">Сохранить</button>
    </div>
  </div>
</div>
