.item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  //height: 380px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.image-model-equipment img{
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
}

.btn {
  width: 320px;
  display: flex;
  justify-content: space-around;
}

.setting {
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 3px solid #A49343;
  background-color: #E3B800;
}

.name-model-equipment {
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 10px;
  width: 300px;
  background-color: #D9D9D9;
  border: 1px solid #000000;
  border-radius: 5px
}
//////////

.container {
  width: 300px;
  height: 300px;
  margin-top: 10px;
}

pdf-viewer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
  border-radius: 5px;
  border: 1px solid black;
}
button {
  transition: 0.15s linear;
}
button:hover {
  transition: 0.15s linear;
  background: #A49343;
  border: 3px solid #E3B800;
}
button:active {
  border: 3px solid #A49343;
  background-color: #E3B800;
}
