<div class="item">
  <button mat-raised-button color="accent" class="menu" matTooltip="Опции" [matMenuTriggerFor]="menu"><mat-icon class="icon-size">list</mat-icon></button>
  <mat-menu class="column" #menu="matMenu">
    <button mat-raised-button color="accent" (click)="openSettings()" class="setting">Редактировать</button>
    <button mat-raised-button color="accent" (click)="openPositionModal()" class="setting">Позиции</button>
    <button mat-raised-button color="warn" (click)="deleteModel()" class="setting">Удалить</button>
  </mat-menu>
  <div class="image-model-equipment">
    <img [src]="models.image_plan_reference" alt="" *ngIf="pdfStrModel != true">
    <div class="container" *ngIf="pdfStrModel && models.image_plan_reference">
      <pdf-viewer [src]="models.image_plan_reference"
                  [original-size]="false"
      ></pdf-viewer>
    </div>
  </div>
  <div matTooltip="Наименование модели" class="name-model-equipment">
    <span>{{models.equipment_name}} </span>
  </div>
</div>
