<mat-spinner *ngIf="loadedChild && loadedParent" class="loading"></mat-spinner>
<div *ngIf="!loadedChild && !loadedParent">
  <div class="wrapper">
    <div class="head">
      <button mat-raised-button color="accent" class="btn-back" (click)="btnBack()"><img src="../../../../../../../assets/img/back.png" alt="">Назад</button>
      <div class="head__header">
        <span class="head__header-name" *ngIf="parentLocation">{{parentLocation.name_location}}</span>
      </div>
      <div class="head__btns">
        <button (click)="openLocation()" mat-raised-button color="accent" class="head__btn">Разбить локацию</button>
        <button class="head__btn" mat-raised-button color="accent" (click)="openModalWindowAddingModel()">Добавить оборудование</button>
      </div>
    </div>
    <div class="container">
      <div class="item-list">
        <app-location-page-item *ngFor="let position of positionModel" [position]="position"></app-location-page-item>
      </div>
    </div>
  </div>
  <app-modal-window-adding-model *ngIf="openModalWindow"></app-modal-window-adding-model>
</div>
