<!--<div class="container">-->
<!--  <div class="content">-->
<!--    <div class="content__control-btn">-->
<!--      <button mat-raised-button color="warn" matTooltip="Закрыть" class="content__button-control"-->
<!--              (click)="btnCloseModal()"><img src="../../../../../../../../assets/img/close.png" alt=""></button>-->
<!--    </div>-->
<!--    <p class="content__name">Сортировка</p>-->

<!--    <div class="item-list" *ngFor="let position of positionsArr">-->
<!--      <div class="item-list__flex">-->
<!--        <div class="item-list__item">{{position.position}}</div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <button mat-raised-button color="accent" class="content__button">Сохранить</button>-->
<!--  </div>-->
<!--</div>-->



<div class="container">
  <div class="content">
    <div class="content__control-btn">
      <button mat-raised-button color="warn" matTooltip="Закрыть" class="content__button-control"
              (click)="btnCloseModal()"><img src="../../../../../../../../assets/img/close.png" alt=""></button>
    </div>
    <p class="content__name">Сортировка</p>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let movie of positionsArr" cdkDrag><span matTooltip="Модель">{{movie.equipment_name}}</span><span matTooltip="Позиция">{{movie.position}}</span></div>
    </div>

    <button (click)="sorting()" mat-raised-button color="accent" class="content__button">Сохранить</button>
  </div>
</div>





