<div>
  <div class="wrapper">
    <div class="head">
      <div class="head__header">Локации</div>
      <button class="head__btn-adding" (click)="btnOpenModal()">Добавить</button>
    </div>
    <div class="container">
      <div class="item-list">
<!--        <div *ngIf="loading" class="loading">Loading...</div>-->
        <div class="item-list__item" (click)="openLocaton(location.id)" *ngFor="let location of location">
          <div class="item-list__item-name">{{location.location_name}}</div>
        </div>
      </div>
    </div>
  </div>
  <app-modal *ngIf="addingNewLocation" (send)="btnCloseModal($event)"></app-modal>
</div>
