<mat-spinner *ngIf="loading" class="loading"></mat-spinner>
<div *ngIf="!loading">
  <div class="wrapper">
    <div class="head">
      <div class="head__header"><span class="head__header-name">Оборудование</span></div>
      <div class="head__search">
        <mat-form-field class="example-full-width">
          <mat-label>Поиск</mat-label>
          <input type="text" matInput placeholder="Введите наименование">
        </mat-form-field>
      </div>
      <button class="head__btn-adding" mat-raised-button color="accent" (click)="submitAddingEquipment()">Добавить модель оборудования</button>
    </div>
    <mat-spinner *ngIf="loading" class="loading"></mat-spinner>
    <div class="container">
      <div class="item-list">
        <app-list-of-equipment-models (send)="getModels($event)" *ngFor="let model of models" [models]="model"></app-list-of-equipment-models>
      </div>
    </div>
  </div>
</div>
