<div>
  <div class="wrapper">
    <div class="head">
      <div class="head__header">Оборудование</div>
      <div class="head__search">
        <input type="text" placeholder="Поиск"/>
      </div>
      <button class="head__btn-adding" (click)="submitAddingEquipment()">Добавить модель оборудования</button>
    </div>
    <div class="container">
      <div class="item-list">
        <div *ngIf="loading" class="loading">Loading...</div>
        <app-list-of-equipment-models (send)="getModels($event)" *ngFor="let model of models" [models]="model"></app-list-of-equipment-models>
      </div>
    </div>
  </div>
</div>
