<div class="container">
  <div class="content">
    <button mat-raised-button color="accent" matTooltip="Закрыть" class="content__button-close"
            (click)="btnCloseModal()"><mat-icon>close</mat-icon></button>
    <div class="content__item" [formGroup]="addingNewItem">
      <mat-form-field class="example-full-width">
        <mat-label>Наименование</mat-label>
        <input type="text" formControlName="name_item" matInput placeholder="Введите наименование">
      </mat-form-field>
      <mat-form-field class="example-full-width mt15px">
        <mat-label>Производитель</mat-label>
        <input type="text" formControlName="manufacturer" matInput placeholder="Введите производителя">
      </mat-form-field>
      <mat-form-field class="example-full-width mt15px">
        <mat-label>Артикул</mat-label>
        <input type="text" formControlName="article" matInput placeholder="Введите артикул">
      </mat-form-field>
      <mat-form-field class="example-full-width mt15px">
        <mat-label>Группа</mat-label>
        <input type="text" formControlName="group" matInput required="true" placeholder="Введите группу">
      </mat-form-field>
    </div>
    <button [disabled]="addingNewItem.invalid" (click)="saveNewItem()" mat-raised-button color="accent" class="content__button">Добавить на склад</button>
  </div>
</div>


