<div>
  <div class="wrapper">
    <div class="setting-component">
      <div class="number-component">{{part.positionOnPlan}}</div>
      <div class="name-component">
        <p>{{part.equipmentName}}</p>
      </div>
    </div>
    <div class="setting-component__btn">
      <div *ngIf="part.haveEquipment" class="btn">
        <button>Добавить составляющие</button>
      </div>
      <div *ngIf="part.service" class="btn">
        <button (click)="submitMainTenanceSheetEditing()">Настроить обслуживание</button>
      </div>
    </div>
  </div>
</div>
