* {
  margin: 0;
  padding: 0;
}

.setting-component {
  padding-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.open-setting-component__btn {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}

.btn button {
  background-color: #d9d9d9;
  width: 270px;
  height: 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  border: none;
}

.setting-component__btn {
  border: none;
  background-color: white;

}

.setting-component__img {
  height: 40px;
  width: 40px;
}

.wrapper {
  background-color: white;
  width: 610px;
  height: 115px;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.name-component {
  display: flex;
  background-color: #d9d9d9;
  border-radius: 25px;
  align-items: center;
  width: 480px;
  height: 50px;
  justify-content: space-around;
}

.number-component {
  background-color: #d9d9d9;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.input-name-component {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
}

.name-component p {
  display: flex;
  align-items: center;
  justify-content: center;
}


//

.number-component__update {
  font-size: 16px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
}

.name-component__update {
  display: flex;
  background-color: #d9d9d9;
  border-radius: 25px;
  align-items: center;
  width: 480px;
  height: 50px;
  justify-content: space-around;
}

.input-name-component__update {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-save-component__update {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #A49343;
  background-color: #E3B800;

  .img-apply {
    width: 35px;
    height: 35px;
  }
}

.upgrade-setting-component__checkboxs {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}

.upgrade-checkbox {
  background-color: #d9d9d9;
  width: 270px;
  height: 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.upgrade-checkbox input {
  height: 20px;
  width: 20px;
}
