<mat-spinner *ngIf="loading" class="loading"></mat-spinner>
<div *ngIf="!loading">
  <div class="wrapper">
    <div class="head">
      <button mat-raised-button color="accent" class="btn-back" (click)="btnBack()"><img src="../../../../../../../assets/img/back.png" alt="">Назад</button>
      <div class="header" *ngIf="!isUpgradeName">
        <div matTooltip="Наименование" class="header__name">{{typeSparePart.name}}</div>
        <div (click)="openUpgradeName()" class="border" matTooltip="Редактировать">
          <img src="../../../../../../../assets/img/change.png" alt="">
        </div>
      </div>

      <form *ngIf="isUpgradeName" [formGroup]="warehouseForm" class="header">
        <mat-form-field class="example-full-width">
          <mat-label>Наименование</mat-label>
          <input type="text" formControlName="name" matInput placeholder="Введите наименование">
        </mat-form-field>
        <button (click)="upgradeName()" matTooltip="Сохранить" class="header__btn-save" mat-fab color="accent">
          <img src="../../../../../../../assets/img/done.png" alt="">
        </button>
      </form>
      <div class="head__quantity"><div class="head__quantity-item"><span>Всего: </span><span matTooltip="Количество">{{typeSparePart.quantity}} </span><span matTooltip="Измерение">{{typeSparePart.measurement_units}}</span></div></div>

    </div>

    <div class="container">
      <div class="container-line">
        <div class="adding-image">
          <input class="add-file" #input (change)="onFileUpload($event)" type="file">
          <div class="image">
            <div class="image-line" #addingImgModelLine>
              <app-viewing-files class="content" #content *ngFor="let parentFileArr of parentFileArr" [parentFileArr]="parentFileArr"></app-viewing-files>
            </div>
          </div>
          <div class="btn-controll">
            <button mat-fab color="accent" matTooltip="Влево" (click)="scrollRight()"><</button>
            <button mat-fab color="accent" matTooltip="Вправо" (click)="scrollLeft()">></button>
          </div>
          <button mat-raised-button color="accent" (click)="btnUpdateImage()" class="btn__img-change">
            Добавить
          </button>
        </div>
        <div class="setting">
          <div class="setting__settings">
            <div *ngIf="!isUpgradePrice" class="setting__settings-price">
              <div class="setting__settings-name"><span class="mr5px">Цена: </span>{{typeSparePart.price | currency: '&#x20bd; '}}</div>
              <div (click)="openUpgradePrice()" class="border" matTooltip="Редактировать">
                <img src="../../../../../../../assets/img/change.png" alt="">
              </div>
            </div>

            <form *ngIf="isUpgradePrice" [formGroup]="warehouseForm" class="setting__settings-price">
              <mat-form-field class="example-full-width">
                <mat-label>Цена</mat-label>
                <input type="text" formControlName="price" matInput placeholder="Введите цену">
              </mat-form-field>
              <button (click)="upgradePrice()" matTooltip="Сохранить" class="setting__settings-btn-save" mat-fab color="accent">
                <img src="../../../../../../../assets/img/done.png" alt="">
              </button>
            </form>

            <div *ngIf="!isUpgradeManufacturer" class="setting__settings-manufacturer">
              <div class="setting__settings-name"><span class="mr5px">Производитель: </span>{{typeSparePart.manufacturer}}</div>
              <div (click)="OpenUpgradeManufacturer()" class="border" matTooltip="Редактировать">
                <img src="../../../../../../../assets/img/change.png" alt="">
              </div>
            </div>

            <form *ngIf="isUpgradeManufacturer" [formGroup]="warehouseForm" class="setting__settings-manufacturer">
              <mat-form-field class="example-full-width">
                <mat-label>Производитель</mat-label>
                <input type="text" formControlName="manufacturer" matInput placeholder="Введите производителя">
              </mat-form-field>
              <button (click)="upgradeManufacturer()" matTooltip="Сохранить" class="setting__settings-btn-save" mat-fab color="accent">
                <img src="../../../../../../../assets/img/done.png" alt="">
              </button>
            </form>

            <div *ngIf="!isUpgradeArticle" class="setting__settings-article">
              <div class="setting__settings-name"><span class="mr5px">Артикул: </span>{{typeSparePart.article}}</div>
              <div (click)="OpenUpgradeArticle()" class="border" matTooltip="Редактировать">
                <img src="../../../../../../../assets/img/change.png" alt="">
              </div>
            </div>

            <form *ngIf="isUpgradeArticle" [formGroup]="warehouseForm" class="setting__settings-article">
              <mat-form-field class="example-full-width">
                <mat-label>Артикул</mat-label>
                <input type="text" formControlName="article" matInput placeholder="Введите артикул">
              </mat-form-field>
              <button (click)="upgradeArticle()" matTooltip="Сохранить" class="setting__settings-btn-save" mat-fab color="accent">
                <img src="../../../../../../../assets/img/done.png" alt="">
              </button>
            </form>
          </div>

          <div class="setting__reliability">
            <div class="setting__reliability-header">Средний срок службы</div>
            <div class="setting__reliability-content">0 дн.</div>
          </div>

        </div>
      </div>


      <div class="container__btns">
        <button mat-raised-button color="accent" (click)="openModalReplenishment()" class="container__btns-btn">Пополнить</button>
        <button mat-raised-button color="accent" class="container__btns-btn">фильтр</button>
      </div>

      <div class="item-list">
        <div *ngIf="!consumables">
          <div class="item item__header">
            <div class="item__element item__element-date bg-header">Дата поступления на склад</div>
            <div class="item__element item__element-date bg-header">Дата установки</div>
            <div class="item__element item__element-name bg-header">Наименование станка (позиция)</div>
            <div class="item__element item__element-date bg-header">Дата снятия</div>
            <div class="item__element item__element-date bg-header">Статус</div>
            <div class="item__element item__element-reason bg-header">Причина снятия</div>
            <img matTooltip="Удалить" class="item-list__img-delete"
                 src="../../../../../../../assets/img/delete.png" alt="">
          </div>
          <div class="item" *ngFor="let sparePart of sparePart">
            <div matTooltip="Дата поступления на склад" class="item__element item__element-date">{{sparePart.date_admission}}</div>
            <div matTooltip="Дата установки" class="item__element item__element-date">{{sparePart.date_mounting}}</div>
            <div matTooltip="Наименование станка (позиция)" class="item__element item__element-name">{{sparePart.position_equipment}}</div>
            <div matTooltip="Дата снятия" class="item__element item__element-date">{{sparePart.date_remove}}</div>
            <div matTooltip="Статус" class="item__element item__element-date">{{sparePart.status_part}}</div>
            <button mat-raised-button color="accent" class="item__element button">Причина снятия</button>
            <img (click)="deleteSparePart(sparePart.id)" matTooltip="Удалить" class="item-list__img-delete"
                 src="../../../../../../../assets/img/delete.png" alt="">
          </div>
        </div>


        <div *ngIf="consumables">
          <div class="item item__header">
            <div class="item__element item__element-date bg-header">Дата поступления на склад</div>
            <div class="item__element item__element-quantity bg-header">
              <div class="item__element-units">Кол-во</div>
              <div class="item__element-measure">Ед. Изм.</div>
            </div>
            <div class="item__element item__element-date bg-header">Статус</div>
            <img matTooltip="Удалить" class="item-list__img-delete"
                 src="../../../../../../../assets/img/delete.png" alt="">
          </div>
          <div class="item" *ngFor="let sparePart of sparePart">
            <div matTooltip="Дата поступления на склад" class="item__element item__element-date">{{sparePart.date_admission}}</div>
            <div class="item__element item__element-quantity">
              <div matTooltip="Колличество" class="item__element-units">{{sparePart.units}}</div>
              <div matTooltip="Единица измерения" class="item__element-measure">{{sparePart.measure_units_id}}</div>
            </div>
            <div matTooltip="Статус" class="item__element item__element-date">{{sparePart.status_part}}</div>
            <img (click)="deleteSparePart(sparePart.id)" matTooltip="Удалить" class="item-list__img-delete"
                 src="../../../../../../../assets/img/delete.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
