.container {
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  margin-top: 90px;
  width: 250px;
  height: 105px;
}
.title {
  font-weight: 700;
  margin-top: 75px;
  font-size: 60px;
}

.text {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

span {
  margin-top: 40px;
}

.authorization-button {
  margin-top: 55px;
  display: block;
  width: 335px;
  height: 80px;
  border-radius: 25px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.example-full-width {
  margin-top: 40px;
  width: 480px;
  height: 59px;
}
