<div>
  <div class="wrapper">
    <div class="header">
      <button class="btn-back">Назад</button>
      <div class="search">
        <input type="text" placeholder="Название оборудования" />
      </div>
    </div>
    <div class="container">
      <div class="adding-img-model">
        <button>Добавить схему</button>
      </div>
      <div class="adding-component">
        <div class="content">
          <app-adding-component></app-adding-component>
        </div>
      </div>
    </div>
  </div>
</div>
