<body>
  <div class="wrapper">
    <img class="logo" src="../../../../assets/img/logo.png" alt="" />
    <div class="nav">
      <div class="nav-item">
        <a mat-raised-button href="">Панель администратора</a>
      </div>
      <div class="nav-item">
        <a mat-raised-button href="/list-of-location/0">Локации</a>
      </div>
      <div class="nav-item">
        <a mat-raised-button href="/list-of-equipment">Просмотр всего оборудования</a>
      </div>
      <div class="nav-item">
        <a mat-raised-button href="">Планы работ по обслуживанию</a>
      </div>
      <div class="nav-item">
        <a mat-raised-button href="/warehouse">Склад</a>
      </div>
    </div>
    <div class="profil">
      <button>
        <img src="../../../../assets/img/user.png" alt="" />
      </button>
    </div>
  </div>
</body>

