<div>
  <div class="item-list__item" *ngIf="location.id && location.have_child_location != null">
    <div class="flex">
      <div (click)="openLocaton(location.id, location.have_child_location)" *ngIf="!isChange" class="item-list__item-name">{{location.name_location}}</div>
      <img *ngIf="!isChange" (click)="openChange()" class="item-list__img-change" src="assets/img/change.png" alt="">
    </div>

    <div class="flex" [formGroup]="changeLocationForm">
      <input formControlName="name_location" *ngIf="isChange" type="text" [(ngModel)]="location.name_location" class="item-list__input">
      <button *ngIf="isChange" (click)="saveChange()" class="item-list__button-apply"><img class="item-list__img" src="assets/img/apply.png" alt=""></button>
    </div>

    <button class="item-list__button-delete" (click)="deleteLocation(location.id)" *ngIf="isChange">Удалить локацию</button>
  </div>
</div>
