<div>
  <div class="item-list__item" *ngIf="location.id && location.have_child_location != null">
    <div class="flex">
      <div (click)="openLocaton(location.id, location.have_child_location)" *ngIf="!isChange" class="item-list__item-name">{{location.name_location}}</div>
      <div *ngIf="!isChange" class="border" matTooltip="Редактировать" (click)="openChange()">
        <mat-icon class="size-icon">edit</mat-icon>
      </div>
    </div>

    <div class="flex" [formGroup]="changeLocationForm">
      <mat-form-field *ngIf="isChange" class="example-full-width">
        <mat-label>Наименование</mat-label>
        <input type="text" formControlName="name_location" [(ngModel)]="location.name_location" matInput placeholder="Введите наименование">
      </mat-form-field>
      <button [disabled]="changeLocationForm.invalid" *ngIf="isChange" (click)="saveChange()" matTooltip="Сохранить" class="item-list__button-apply" mat-fab color="accent" aria-label="Example fab with a heart icon">
        <mat-icon class="size-icon">done</mat-icon>
      </button>
    </div>

    <button class="item-list__button-delete" mat-raised-button color="warn" (click)="deleteLocation(location.id)" *ngIf="isChange">Удалить локацию</button>
  </div>
</div>
