* {
  margin: 0;
  padding: 0;
}

.item-list__item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  background-color: #FFFFFF;
  border-radius: 5px;

  .item-list__input {
    margin-top: 10px;
    width: 260px;
    height: 40px;
    border: 1px solid #000000;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .item-list__button-delete {
    border: 3px solid #A49343;
    background-color: #E3B800;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  button {
    transition: 0.15s linear;
  }
  button:hover {
    font-size: 17px;
    transition: 0.15s linear;
    background: #A49343;
    border: 3px solid #E3B800;
  }
  button:active {
    font-size: 16px;
    border: 3px solid #A49343;
    background-color: #E3B800;
  }

  .item-list__button-apply {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 3px solid #A49343;
    background-color: #E3B800;

    .item-list__img {
      width: 40px;
      height: 40px;
    }
  }

  .item-list__img-change {
    cursor: pointer;
    margin-left: 5px;
    width: 40px;
    height: 40px;
  }

  .item-list__item-name {
    margin-top: 10px;
    width: 260px;
    //height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    background-color: #D9D9D9;
    border: 1px solid #000000;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

.flex {
  display: flex;
  align-items: center;

  button {
    transition: 0.15s linear;
  }
  button:hover {
    transition: 0.15s linear;
    background: #A49343;
    border: 3px solid #E3B800;
  }
  button:active {
    border: 3px solid #A49343;
    background-color: #E3B800;
  }
}


