<mat-spinner *ngIf="loading" class="loading"></mat-spinner>
<div *ngIf="!loading">
  <div class="wrapper">
    <div class="head">
      <button class="btn-back" mat-raised-button color="accent" (click)="btnBack()">
        <img src="../../../../../assets/img/back.png" alt="">
        Назад
      </button>
      <div class="head-name" *ngIf="parent">
        <p class="head__name">{{parent.equipment_name}}</p>
        <p *ngIf="parent.position != null" class="head__position">({{parent.position}})</p>
      </div>
      <div class="head__btn">
        <button mat-raised-button color="accent" [matMenuTriggerFor]="menu" class="btn-maintenance">Обслужить</button>
        <mat-menu class="column" #menu="matMenu">
          <button mat-raised-button color="accent" class="btn-maintenance__item">Выполнить плановый ремонт</button>
          <button mat-raised-button color="accent" class="btn-maintenance__item">Выполнить внеплановый ремонт</button>
        </mat-menu>
      </div>
    </div>
    <div class="container">
      <div class="model-img">
        <div class="adding-img-model">
          <div class="adding-img-model-line" #addingImgModelLine>
            <app-viewing-files-position class="content" #content *ngFor="let parentFileArr of parentFileArr" [parentFileArr]="parentFileArr"></app-viewing-files-position>
          </div>
        </div>
        <div class="btn-controll">
          <button mat-fab color="accent" matTooltip="Влево" (click)="scrollRight()"><</button>
          <button mat-fab color="accent" matTooltip="Вправо" (click)="scrollLeft()">></button>
        </div>
      </div>
      <div class="adding-component">
        <div class="adding-component__content">
          <app-setting-component *ngFor="let part of part"
                                 [part]="part">
          </app-setting-component>
        </div>
      </div>
    </div>
  </div>
</div>
