<div>
  <div class="wrapper">
    <div class="setting-component">
      <div class="number-component">№</div>
      <div class="name-component">
        <p>Название</p>
        <input type="text" class="input-name-component" />
      </div>
      <button class="btn-save-component">Сохранить</button>
    </div>
    <div class="setting-component-checkboxs">
      <div class="checkbox">
        <input type="checkbox" checked />
        <label for="">Разбить на состовляющие</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" checked />
        <label for="">Включить обслуживание</label>
      </div>
    </div>
  </div>
</div>
