* {
  margin: 0;
  padding: 0;
}

.setting-component {
  padding-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.setting-component__checkboxs {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}
.checkbox {
  background-color: #d9d9d9;
  width: 270px;
  height: 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.checkbox input {
  height: 20px;
  width: 20px;
}

.wrapper {
  background-color: white;
  width: 610px;
  height: 115px;
  margin: 0 auto;
  border-radius: 5px;
}
.name-component {
  display: flex;
  background-color: #d9d9d9;
  border-radius: 25px;
  align-items: center;
  width: 480px;
  height: 50px;
  justify-content: space-around;
}
.number-component {
  font-size: 16px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  text-align: center;
}

.btn-save-component {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #A49343;
  background-color: #E3B800;
  transition: 0.15s linear;

  .img-apply {
    width: 35px;
    height: 35px;
  }
}

button:hover {
  font-size: 17px;
  transition: 0.15s linear;
  background: #A49343;
  border: 3px solid #E3B800;
}
button:active {
  font-size: 16px;
  border: 3px solid #A49343;
  background-color: #E3B800;
}

.input-name-component {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
}

.name-component p {
  height: 40px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
