<div>
  <div [formGroup]="addingForm" class="wrapper">
    <div class="setting-component">
      <input formControlName="position_on_plan" class="number-component" type="text">
      <div class="name-component">
        <p>Название</p>
        <input formControlName="equipment_name" type="text" class="input-name-component" placeholder="Введите название"/>
      </div>
      <button class="btn-save-component" type="submit" (click)="saveComponent()">
        <img class="img-apply" src="../../../../../../../../assets/img/apply.png">
      </button>
    </div>
    <div class="setting-component__checkboxs">
      <div class="checkbox">
        <input type="checkbox" formControlName="have_equipment"/>
        <label for="">Разбить на составляющие</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" formControlName="service"/>
        <label for="">Включить обслуживание</label>
      </div>
    </div>
  </div>
</div>
