<mat-spinner *ngIf="loading" class="loading"></mat-spinner>

<div *ngIf="!loading">
  <div class="wrapper">
    <div class="head">
      <button class="btn-back" mat-raised-button color="accent" (click)="btnBack()">
        <img src="../../../../../../../../../../../assets/img/back.png" alt="">
        Назад
      </button>
      <div class="header">
        <span>{{parentService.equipment_name}}</span>
      </div>
    </div>
    <div class="container">
      <div class="list">
        <div class="list-vertical">
          <div class="list__item">
            <div class="item__header">Список необходимых запчастей</div>
            <div class="border"></div>
            <div class="item" *ngFor="let detail of listDetails">
              <p class="item-component item-name">{{detail.detail_name}}</p>
              <p class="item-component item-quantity">{{detail.quantity}}</p>
              <div class="border-delete" matTooltip="Удалить" (click)="deleteDetail(detail.id)">
                <img src="../../../../../../../../../../../assets/img/delete.png" alt="">
              </div>
            </div>

            <form class="item" [formGroup]="addDetailForm">
              <mat-form-field class="example-full-width item__input-name">
                <mat-label>Наименование запчасти</mat-label>
                <input type="text" required matInput [formControl]="detailControl" placeholder="Выберите запчасть" [matAutocomplete]="autoDetails">
                <mat-autocomplete autoActiveFirstOption #autoDetails="matAutocomplete">
                  <mat-option *ngFor="let optionDetail of filteredOptionsDetails | async" [value]="optionDetail.sort_name">
                    {{optionDetail.sort_name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="example-full-width item__input-quantity">
                <mat-label>Количество</mat-label>
                <input type="text" matInput placeholder="Количество" formControlName="quantity">
              </mat-form-field>
              <button matTooltip="Добавить" (click)="addDetail()" [disabled]="addDetailForm.invalid || detailControl.invalid" class="btn-save-component" mat-fab color="accent">
                <img src="../../../../../../../../../../../assets/img/done.png" alt="">
              </button>
            </form>
          </div>

          <div class="list__item">
            <div class="item__header">Список необходимых инструментов</div>
            <div class="border"></div>
            <div class="item" *ngFor="let tool of listTools">
              <p class="item-component item-name">{{tool.tool_name}}</p>
              <p class="item-component item-quantity">{{tool.quantity}}</p>
              <div class="border-delete" matTooltip="Удалить" (click)="deteleTool(tool.id)">
                <img src="../../../../../../../../../../../assets/img/delete.png" alt="">
              </div>
            </div>

            <form [formGroup]="addToolForm" class="item">
              <mat-form-field class="example-full-width item__input-name">
                <mat-label>Наименование инструмента</mat-label>
                <input type="text" required matInput [formControl]="toolControl" placeholder="Введите наименование инструмента" [matAutocomplete]="autoTools">
                <mat-autocomplete autoActiveFirstOption #autoTools="matAutocomplete">
                  <mat-option *ngFor="let optionTool of filteredOptionsTools | async" [value]="optionTool">
                    {{optionTool}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="example-full-width item__input-quantity">
                <mat-label>Количество</mat-label>
                <input type="text" formControlName="quantity" matInput placeholder="Количество">
              </mat-form-field>
              <button matTooltip="Добавить" [disabled]="addToolForm.invalid || toolControl.invalid" (click)="addTool()" class="btn-save-component" mat-fab color="accent">
                <img src="../../../../../../../../../../../assets/img/done.png" alt="">
              </button>
            </form>
          </div>

          <div class="list__item">
            <div class="item__header">Список расходных материалов</div>
            <div class="border"></div>
            <div class="item" *ngFor="let consumable of listConsumables">
              <p class="item-component item-name">{{consumable.consumable_name}}</p>
              <p class="item-component item-quantity">{{consumable.quantity}}</p>
              <div class="border-delete" (click)="deleteConsumable(consumable.id)" matTooltip="Удалить">
                <img src="../../../../../../../../../../../assets/img/delete.png" alt="">
              </div>
            </div>

            <form [formGroup]="addConsumableForm" class="item">
              <mat-form-field class="example-full-width item__input-name">
                <mat-label>Наименование материала</mat-label>
                <input type="text" required matInput [formControl]="consumableControl" placeholder="Выберите материал" [matAutocomplete]="autoConsumables">
                <mat-autocomplete autoActiveFirstOption #autoConsumables="matAutocomplete">
                  <mat-option *ngFor="let optionConsumable of filteredOptionsConsumables | async" [value]="optionConsumable.sort_name">
                    {{optionConsumable.sort_name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="example-full-width item__input-quantity">
                <mat-label>Количество</mat-label>
                <input type="text" matInput placeholder="Количество" formControlName="quantity">
              </mat-form-field>
              <button matTooltip="Добавить" (click)="addConsumable()" [disabled]="addConsumableForm.invalid || consumableControl.invalid" class="btn-save-component" mat-fab color="accent">
                <img src="../../../../../../../../../../../assets/img/done.png" alt="">
              </button>
<!--              <mat-form-field class="example-full-width item__input-name">-->
<!--                <mat-label>Наименование материала</mat-label>-->
<!--                <input type="text" matInput placeholder="Введите наименование материала">-->
<!--              </mat-form-field>-->
<!--              <mat-form-field class="example-full-width item__input-quantity">-->
<!--                <mat-label>Количество</mat-label>-->
<!--                <input type="text" matInput placeholder="Количество">-->
<!--              </mat-form-field>-->
<!--              <button matTooltip="Добавить" class="btn-save-component" mat-fab color="accent">-->
<!--                <img src="../../../../../../../../../../../assets/img/done.png" alt="">-->
<!--              </button>-->
            </form>
          </div>
        </div>

        <div class="list-documentation">
          <div class="list-documentation__item">
            <div class="list-documentation__header">Документация по обслуживанию</div>
            <div class="list-documentation__content">
              <div class="item__content">Файл-1.формат</div>
              <div class="item__content">
                <input type="file">
                <button class="btn__save-item">Y</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="save">-->
<!--      <button mat-raised-button color="accent"-->
<!--              class="save__btn">Сохранить-->
<!--      </button>-->
<!--    </div>-->
  </div>
</div>
